.movies-card-list {
  margin: 0 auto;
  padding: 70px 0 14px;
  list-style-type: none;
  max-width: 1140px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 30px;
  row-gap: 43px;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    width: calc(100% - (30px * 2));
  }
}

@media screen and (max-width: 1023px) {
  .movies-card-list {
    padding: 70px 0 10px;
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card-list {
    padding: 40px 0 10px;
    width: calc(100% - (10px * 2));
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 36px;
  }
}