.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
}

.error-popup_opened {
  visibility: visible;
  opacity: 1;
}


.error-popup__container {
  position: relative;
  box-sizing: border-box;
  width: 430px;
  padding: 60px 36px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.error-popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  background-image: url('../../images/popup-close.svg');
  background-size: contain;
  box-shadow: none;
  border: none;
  position: absolute;
  top: calc(-8px - 32px);
  right: calc(-8px - 32px);
  transition: opacity .4s ease;
  cursor: pointer;
}

.error-popup__close:hover {
  opacity: .8;
}

.error-popup__background-image {
  width: 120px;
  height: 120px;
  background-image: url('../../images/fail.svg');
  margin-bottom: 32px;
}

.error-popup__title {
  margin: 0;
  text-align: center;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 330px;
}

@media screen and (max-width: 547px) {
  .error-popup__container {
    max-width: 430px;
    width: calc(100% - (20px * 2));
  }

  .error-popup__close {
    width: 20px;
    height: 20px;
    top: calc(-16px - 20px);
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .error-popup__container {
    padding: 50px 18px;
  }

  .error-popup__image {
    margin-bottom: 40px;
  }

  .error-popup__title {
    max-width: 238px;
    font-size: 20px;
    line-height: 24px;
  }
}


