.App {
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  min-width: 320px;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

