.logo {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #3ddc84;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}