.more {
  max-width: 1140px;
  padding: 50px 0 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.more__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 11px 0 9px;
  width: 320px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.more__button:active {
  transform: scale(0.95);
}

.more__button:hover {
  background-color: #4285F4;
}