.search-form {
  margin: 0 auto;
  width: 1140px;
  padding: 70px 0 48px;
}

.search-form__text-fieldset {
  margin: 0 0 33px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px
}

.search-form__input {
  padding: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  background-color: inherit;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  flex-grow: 1;
}

.search-form__input:focus {
  outline-color: #4285F4;
  outline-style: groove;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__button {
  display: block;
  border: none;
  border-radius: 48px;
  padding: 0;
  width: 80px;
  height: 34px;
  background: #4285F4;
  background-image: url('../../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}