.register {
  padding: 70px 0 20px;
}

@media screen and (max-width: 1023px) {
  .register {
    padding: 232px 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .register {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 56px 0 30px;
  }
}