.footer {
  padding: 79px 0 20px;
  color: #fff;
  width: 1140px;
  margin: 0 auto;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__text {
  max-width: 320px;
  margin: 0 auto 20px;
  text-align: center;
  color: #8b8b8b;
}

.footer__bottom-box {
  padding-top: 20px;
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  max-width: 48px;
  margin: 0;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  text-align: right;
  transition: opacity .4s ease;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 1140px;
    width: calc(100% - (30px * 2));
    min-width: calc(425px - (10px * 2));
  }
}

@media screen and (max-width: 425px) {
  .footer {
    width: calc(100% - (10px * 2));
    min-width: calc(300px - (10px * 2));
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom-box {
    padding-top: 30px;
    flex-direction: column-reverse;

  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer__copyright {
    color: #8b8b8b;
  }
}