.not-found-page {
  padding: 246px 0 20px;
}

.not-found-page__container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.not-found-page__title {
  max-width: 100%;
  padding: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin:0 0 5px;
}

.not-found-page__text {
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 184px;
}

.not-found-page__link {
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
  transition: opacity .4s ease;
}

.not-found-page__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1023px) {
  .not-found-page {
    padding: 408px 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .not-found-page {
    padding: 329px 0 20px;
  }

  .not-found-page__container {
    max-width: 400px;
    width: calc(100% - (10px * 2));
  }

  .not-found-page__title {
    font-size: 80px;
    line-height: 97px;
    margin:0 0 10px;
  }

  .not-found-page__text {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 284px;
  }
  
  .not-found-page__link {
    font-size: 12px;
    line-height: 15px;
  }
}